<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'generateCot/loggin/images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'generateCot/general/css/bootstrap.min.css' %}">
    <title>SiamcoApp</title>
</head>
<body>


    {% block content %}
    {% endblock %}

    <script src="{% static 'generateCot/general/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'generateCot/general/js/popper.js' %}"></script>
    <script src="{% static 'generateCot/general/js/bootstrap.min.js' %}"></script>
    
</body>
</html>