{% extends "generateCot/base_t.html" %}

{% load static %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'generateCot/generatorCot/datatable/datatables.min.css' %}">
{% endblock %}

{% block content %}

<h2>Lista de Items & Actividades : </h2>



<div class="row">
    <div class="col-8">
        <table id="tableuno" class="display cell-border compact">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>alv soy carlos</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>adsñkjfhañksdfas</td>
                    <td>Row 2 Data 2</td>
                </tr>
                <tr>
                    <td>alv soy carlos</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>adsñkjfhañksdfas</td>
                    <td>Row 2 Data 2</td>
                </tr>
                <tr>
                    <td>alv soy carlos</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>adsñkjfhañksdfas</td>
                    <td>Row 2 Data 2</td>
                </tr>
                <tr>
                    <td>alv soy carlossssssssssssssssssssssssssssssssssssssssssssssssss</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>adsñkjfhañksdfas</td>
                    <td>Row 2 Data 2</td>
                </tr>
                <tr>
                    <td>alv soy carlos</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>adsñkjfhañksdfas</td>
                    <td>Row 2 Data 2</td>
                </tr>
                <tr>
                    <td>alv soy carlos</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>adsñkjfhañksdfas</td>
                    <td>Row 2 Data 2</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-4">
        <a href="#" class="txt1">
            Forgot Password?
        </a>
    </div>  
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="{% static 'generateCot/generatorCot/datatable/datatables.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#tableuno').DataTable();
    });
    $('#tableuno').DataTable({
        select: true,
        scrollY: 200,
        autoWidth: false
    });
    var table = $('#tableuno').DataTable();
    $('#container').css('display', 'block');
    table.columns.adjust().draw();

</script>
{% endblock %}