<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href='{% static "generateCot/filesModelCot/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "generateCot/filesModelCot/styleDoc.css" %}'>

    <style>
        @font-face {
            font-family: monserrat-l;
            src: url('{% static "generateCot/filesModelCot/Montserrat-Regular.ttf" %}');
        }

        @font-face {
            font-family: monserrat;
            src: url('{% static "generateCot/filesModelCot/Montserrat-Thin.ttf" %}');

        }

        ul {
            list-style-image: url('{% static "generateCot/filesModelCot/pointList.png" %}');
        }
    </style>


</head>

<body>

    <footer>
        <hr>
    </footer>
    <div id="cotDoc">

        <div id="pageOne">

            <img src="{% static 'generateCot/filesModelCot/encabezadoUno.png' %}" alt="">
            <br><br><br>
            <img src="{% static 'generateCot/filesModelCot/encabezadoDos.png' %}" alt="">


            <div>
                <br><br><br><br><br><br><br>


                <p class="tUno" color="blue">Propuesta De Proyecto</p>
                <p class="pUno">
                    Cliente: {{customerName}}<br>
                    Proyecto: {{projectName}}<br>
                    Autor: SIAMCO Ingenieria SAS / {{autorName}}<br>
                    Fecha : {{dateToday}}<br>
                    Número de Propuesta: {{proposalNumber}}<br>
                </p>
                <br><br>
            </div>

        </div>

        <div id="pageTwo" style="page-break-before: always">

            <div>
                <img src="{% static 'generateCot/filesModelCot/encabezadoUno.png' %}" alt="">
            </div>
            <br>
            <br>
            <table style="width:100%">
                <tr>
                    <td style="width: 50%;">
                        <table>
                            <tr>
                                <td>
                                    <p>Señores : </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>{{customerName}}</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>{{placeName}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>La Ciudad</p>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td style="width: 50%;">
                        <div class="tableUno">
                            <table class="" style="width: 100%;">
                                <tr>
                                    <td>Fecha.</td>
                                    <td>{{dateToday}}</td>
                                </tr>
                                <tr>
                                    <td>COTIZACION No.</td>
                                    <td>{{proposalNumber}}</td>
                                </tr>
                                <tr>
                                    <td>DIRECCION.</td>
                                    <td>{{placeAddress}}</td>
                                </tr>
                                <tr>
                                    <td>Email.</td>
                                    <td>{{customerEmail}}</td>
                                </tr>
                            </table>
                        </div>

                    </td>

                </tr>

            </table>
            <br><br>
            <p>
                <strong>Referencia : {{projectName}}</strong> <br><br>
                Somos una empresa especializada en el diseño e implementación de soluciones de IMPERMEABILIZACION,
                ENLUCIMIENTO DE FACHADAS, CONCRETO ESTAMPADO Y PISOS ARQUITECTONICOS. <br><br>
                A través de nuestra amplia experiencia y apoyados en productos de alta tecnología e innovación, le
                brindamos a nuestros clientes la tranquilidad de contar con soluciones de calidad y estabilidad en el
                tiempo. <br><br>
                Las soluciones que ofrecemos cumplen ampliamente con las especificaciones técnicas, económicas y de
                costo-beneficio, adaptándolas siempre a los requerimientos técnicos y a las necesidades de nuestros
                clientes.
            </p>
            <p>
            <h2 style="color: darkcyan !important;">POR QUE SIAMCO INGENIERIA:</h2>
            <u>SOPORTE TECNICO DEL FABRICANTE:</u> Contamos con el acompañamiento técnico de los asesores especializados
            en las
            diferentes áreas de trabajo (Toxement, Sika Colombia, Pintuco, Fiber Glass, etc) en el desarrollo de todos
            los procesos involucrados en esta cotización y que estén relacionados con sus productos. <br><br>
            De igual forma, contamos con el acompañamiento y asesoría por parte de Sika Colombia en el suministro y en
            la aplicación de sus productos. <br><br>
            <u>EXPERIENCIA:</u> Contamos con un equipo de trabajo capacitado y certificado. Nuestra empresa se encuentra
            certificada para la realización de este tipo de trabajos. <br><br>
            EQUIPOS: Disponemos de equipos certificados para trabajo seguro en alturas, contamos con los equipos de
            descenso, andamios, elementos de protección personal y demás herramientas
            especializadas para el desarrollo de las actividades propuestas. <br><br>
            <u>SUPERVISION EN OBRA:</u> Con el propósito de asegurar un control permanente en obra y una comunicación
            fluida
            con nuestros clientes disponemos de un equipo de personas que en diferentes niveles realizarán la
            planificación el control y el seguimiento a los trabajos comprometidos en esta propuesta. Se asignará un
            equipo de trabajo experto para la realización de la labor. <br><br>
            </p>
            <div style="page-break-before: always">
                <h2>DESCRIPCIÓN DE LA OBRA</h2><br> <br>
                <div>
                    {{textCot | safe}}
                </div>
            </div>


            <div style="page-break-before: always">
                <h2>PRESUPUESTO DE OBRA</h2><br>
                <table class="tableDos">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Und</th>
                            <th>Cant</th>
                            <th>Valor Unitario</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in actiList %}
                        {% if row.0 != '' %}

                        <tr>
                            <td>{{row.0}}</td>
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            <td>${{row.3}}</td>
                            <td>${{row.4}}</td>
                        </tr>

                        {% endif %}
                        {% endfor %}
                        <tr>
                            <td><b>Total Mano de Obra + Materiales</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>$ {{totals.0}}</b></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Gastos Administrativos 11%</td>
                            <td></td>
                            <td></td>
                            <td>$ {{totals.1}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Imprevistos 5%</td>
                            <td></td>
                            <td></td>
                            <td>$ {{totals.2}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Utilidad 5%</td>
                            <td></td>
                            <td></td>
                            <td>$ {{totals.3}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">IVA Sobre la Utilidad 19%</td>
                            <td></td>
                            <td></td>
                            <td>$ {{totals.4}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Total Costo Directo + Costo Indirecto</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>$ {{totals.5}} </b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p style="page-break-before: always">
                <strong>Nota:</strong> Este valor no incluye el IVA <br><br>
                <strong>Los valores de la presente cotización incluyen:</strong> <br>
            <ul>
                <li>Supervisión</li><br>
                <li>Suministro de todos los materiales para la ejecución de la obra</li><br>
                <li>Mano de obra</li><br>
                <li>Transporte de materiales y herramientas a las instalaciones de la obra</li><br>
                <li>Herramientas y equipos necesarios para la ejecución del trabajo</li><br>
                <li>Afiliación de los operarios a la seguridad social (ARL, EPS)</li><br>
                <li>Retiro de sobrantes y escombros hasta un botadero debidamente autorizado por el municipio</li><br>
            </ul><br>
            <strong>DOTACION Y SEGURIDAD </strong> <br><br> 
            Todo nuestro personal cuenta con certificado de trabajo en alturas, de obligatoria exigencia para esta
            labor. Nuestro personal cuenta con los requisitos de ley al día, capacitación y elementos de protección
            personal necesarios para espacios confinados y el manejo de sustancias químicas.
            Contamos con equipo propio para detección de gases y nivel de oxigeno en
            espacios confinados para protección de la integridad de nuestro personal y tranquilidad del contratante.
            <br><br>
            <strong>GARANTIAS</strong> <br><br> 

            <ul>
                <li>Póliza por manejo del anticipo</li><br>
                <li>Póliza de cumplimiento</li><br>
                <li>Póliza de salarios y prestaciones sociales</li><br>
                <li>Póliza de Calidad de Obra.</li><br>
                <li>Todo nuestro personal esta capacitado para realizar los trabajos contratados.</li><br>
                <li>Todo nuestro personal posee ARL, EPS y Pensión, antes de comenzar cualquier actividad.</li><br>
                <li>Todo nuestro personal tiene los equipos de protección para realizar las actividades propuestas.
                </li><br>
                <li>Todo nuestro personal tiene la certificación de trabajo en alturas del SENA</li><br>
            </ul> <br>

            <strong>Duracion de la obra :</strong> {{durationWork}} {{unitDuration}} <br>

            <strong>Forma de Pago:</strong> Anticipo del 50% y pagos semanales correspondientes al avance de la obra.
            <br>
            Atentamente, <br>
            RUFINO JOSE CASTILLO <br>
            Gerente Técnico de Proyectos <br>
            E-mail: info@impermeabilizacion.com.co <br>

            <h2 style="page-break-before: always">
                NUESTROS CLIENTES: <br>
            </h2>

            <ul>
                <li>CLINICA NUEVA RAFAEL URIBE URIBE. Impermeabilización de un tanque de
                    almacenamiento de agua con MEMBRANA PVC. Contacto. Ing. Bayron Saumett. (304) 662-6282.</li><br>
                <li>CONJUNTO RESIDENCIAL BALCONES DE CATALUÑA.. Impermeabilización de un
                    tanque de almacenamiento de agua con recubrimiento epoxico. Contacto. Ing. Carlos Julio Molina.
                    (315) 439-2429.</li><br>
                <li>CONJUNTO RESIDENCIAL MULTIFAMILIARES MULTICENTRO.. Impermeabilización de
                    un tanque de almacenamiento de agua con Membrana PVC Tanques. Contacto. Magda Lozano. (312)
                    376-1570.</li><br>
                <li>EDIFICIO AMALFI. Impermeabilización de 17 tanques de almacenamiento de agua con recubrimiento
                    epoxico. Contacto. Sr. David Corkidi. (315) 568-4400.</li><br>
                <li>COMFANDI. Impermeabilización losa de cubierta sobre gimnasio Colegio Comfandi San Nicolás.
                    Contacto. Ing.. Carlos Parra – Planeador Infraestructura. (314) 884-6835.</li><br>
                <li>CONSTRUCTORA BALMORAL S.A.. Impermeabilización de tres tanques de
                    almacenamiento de agua con Membrana PVC Tanques. Contacto. Arq. Esteban Bonilla
                    – Director de Obra. (317) 667-2621.</li><br>
                <li>RB CONSTRUCTORES. Impermeabilización de 2 tanques de almacenamiento de agua
                    potable y RCI en almacén Olímpica Yumbo. Contacto. Arq. Ottoniel Gómez. (318) 372-8836.</li><br>
                <li>SORAY PROYECTOS SA. Impermeabilización de 2 tanques de almacenamiento de
                    agua potable y RCI en almacén Olímpica Yumbo. Contacto. Arq. Laura Ospina. (317) 488-8759.</li><br>
                <li> CONJUNTO RESIDENCIAL CALICANTO II. Impermeabilización de 2 tanques de
                    almacenamiento de agua potable para consumo humano con Membrana PVC para Tanques. Contacto.
                    Magda Patricia Lozano (312) 376-1570</li><br>
                <li> CONJUNTO RESIDENCIAL PIEDRA GRANDE. Impermeabilización de 2 tanques de
                    almacenamiento de agua potable para consumo humano con Membrana PVC para Tanques. Contacto.
                    Magda Patricia Lozano (312) 376-1570.</li><br>
                <li>CONJUNTO RESIDENCIAL LOYOLA. Impermeabilización de 2 tanques de almacenamiento de
                    agua potable para consumo humano con Membrana PVC para Tanques. Contacto. Mariela Celorio (317)
                    283-3695</li><br>
                <li>CONJUNTO RESIDENCIAL CAÑAVERALES SECTOR IV. Impermeabilización tanque de almacenamiento de agua
                    potable con Membrana PVC (280 M2). Contacto. Dra. Diana Guzmán (315) 282-6542.</li><br>
                <li>CONJUNTO RESIDENCIAL PLAZUELA DE SANTA BARBARA. Impermeabilización tanque de almacenamiento de
                    agua potable con Membrana PVC (270 M2). Contacto. Dra. Nidya Lucía Ariza (311) 741-1467.</li><br>
                <li>CONJUNTO RESIDENCIAL LOYOLA. Impermeabilización de 2 tanques de almacenamiento de
                    agua potable para consumo humano con Membrana PVC para Tanques. Contacto. Mariela Celorio (317)
                    283-3695.</li><br>
                <li>CONJUNTO RESIDENCIAL TORRES COMFANDI CONJUNTO I - Impermeabilización de Tanque de agua potable
                    de 212M3.</li><br>
            </ul>


            <div>
                <h2 style="page-break-before: always">NUESTRAS CERTIFICACIONES</h2><br>
                <div class="row">
                    <div>
                        <img src="{% static 'generateCot/filesModelCot/sUno.png' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'generateCot/filesModelCot/sDos.png' %}" alt="">
                    </div>
                </div>

                <div class="row">
                    <div>
                        <img src="{% static 'generateCot/filesModelCot/sTres.png' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'generateCot/filesModelCot/sCuatro.png' %}" alt="">
                    </div>
                </div>
            </div>


        </div>

    </div>


</body>

</html>